* {
    margin: 0;
    padding: 0;
}

#country-select #target .ddArrow {
    display: inline-block;
    position: absolute;
    margin: -2px 0 0 4px;
}

#country-select #target .ddArrow {
    width: 16px;
    height: 16px;
    background: url(../images/dd_arrow.gif) no-repeat;
}

#country-select #target a:hover span.ddArrow {
    background-position: 0 100%;
}

#country-select {
    position: absolute;
    top: 17px;
    right: 70px;
}

@media screen and (max-width: 470px) {
    #country-select {
        right: 100px;
    }
}

#country-select * {
    box-sizing: content-box;
}

/* rought form styles for when JS is disabled */

#country-select select,
#country-select input {
    display: none;
}

/* JS-created definition list */

#country-select .dropdown dd {
    position: relative;
}

#country-select .dropdown a {
    text-decoration: none;
    outline: 0;
    font: 12px Arial, Helvetica, sans-serif;
    display: block;
    width: 80px;
    overflow: hidden;
}

#country-select .dropdown dt a {
    background: url(../images/converter_to.png);
    padding: 3px 10px 4px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000;
}

#country-select .dropdown dt a.active {
    background: url(../images/converter_to.png);
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px dotted #676768;
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .5);
    color: #000;
}

#country-select .dropdown dd ul {
    background: #fff;
    color: #C5C0B0;
    display: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 2px 0 5px 0;
    list-style: none;
    border-top: none;
    margin: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .5);
}

#country-select .dropdown dd ul li a {
    padding: 2px 10px;
}

#country-select .dropdown dd ul li a span,
#country-select .dropdown dt a span {
    float: left;
    width: 16px;
    height: 11px;
    margin: 2px 6px 0 0;
    background-image: url(../images/flags.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.ru a span {
    background-position: -48px -319px;
}

.en a span {
    background-position: -16px -275px;
}

#country-select .dropdown dd ul li a em,
#country-select .dropdown dt a em {
    font-style: normal;
    float: left;
    width: auto;
    cursor: pointer;
}

#country-select .dropdown dd ul li a em {
    color: #000;
}

#country-select .dropdown dd ul:hover {
    background: url(../images/converter_to.png)
}

/*.dropdown dd ul li a:hover em {
    color: #000;
}*/
